@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'tango' ;
    src: url('../FONTES/tangosans/TangoSans.ttf') format('truetype');
}
:root {
    --cor1: #4B66FB;
    --cor2: #0025FA;
    --cor3: #000fff;
    --cor4: #00127A;
    --cor5: #161F30;
    --cor6: #000000;
    --cor7: #ffffff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-baixada: 'tango', sans-serif;
    --fonte-destaque:  "Bebas Neue", sans-serif;
    --fonte-roboto: "Roboto", system-ui;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--fonte-padrao);
}
body strong {
    color: var(--cor1);
}

/* INICIO HEADER */
header {
   background: var(--cor3) url("../imagens/acesso-escura.jpeg") center no-repeat fixed ;
   background-size: cover;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#conteiner-header {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    color: var(--cor7);
    
}

#conteiner-header img {
    border-radius: 5px;
    transition: 0.7s;
}

#conteiner-header img:hover {
    transform: scale(1.08);
}

#conteiner-header p {
    margin-top: 10px;
}

/* FIM HEADER */

/* INICIO MAIN */

.sec1, .sec2 {
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.sec1-div2, .sec2-div1 {
    padding: 10px;
}

.sec1-div1 img, .sec2-div2 img {
    opacity: 0.7;
    transition: 1s;
}

.sec1-div1 img:hover, .sec2-div2 img:hover {
    opacity: 1;
}


.sec1-div2 p, .sec2-div1 p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}

.sec1-div2 h1, .sec2-div1 h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.sec1 {
    margin-top: 100px;
}

.sec1 div {
    flex: 1;
}

.sec1 img {
    width: 100%;
    height: 100%;

}

.sec2 {
    margin-top: 100px ;
}

.sec2 div {
    flex: 1;
}

.sec2 img {
    width: 100%;
    height: 100%;
}

.sec3 {
    background-color: var(--cor2);
    width: 100%;
    margin: 100px 0;
}

.sec3-div1, .sec3-div2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.divs-sec3 {
    width: 22%;
    background-color: var(--cor7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.503);
    margin-bottom: 50px;
}

.divs-sec3 a {
    color: var(--cor6);
    transition: 0.3s;
}

.divs-sec3 a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

.divs-sec3 img{
    width: 40%;
    text-align: center;
}

.divs-sec3 h1 {
    margin-bottom: 10px;
}

.divs-sec3 p {
    text-align: justify;
}

.conteiner-infor {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 0;
}

.infor p {
    font-size: 10px;
}

.infor img {
    width: 20%;
    margin-bottom: 5px;
}

/* FIM MAIN */

/* INICIO ASIDES */
.alert-zap {
    width: 100%;
}

.alert-zap div {
    background-color: var(--cor1);
    width: 50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    padding: 10px;
}

.alert-zap p {
    font-size: 20px;
    color: var(--cor7);
}

.conteiner-aside {
    width: 100%;
    margin-top: 100px;
}

.box-aside {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside {
    background-color: var(--cor3);
    max-width: 300px;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.462);
}

.aside h1 {
    text-align: center;
    color: var(--cor7);
    font-family: var(--fonte-roboto);
    margin-bottom: 10px;
}

.aside a {
    text-decoration: none;
    color: #ffffff90;
    font-size: 18px;
}

.aside a:hover {
    color: #ffffffd9;
}

/* FIM ASIDES */

/* INICIO MENU */
.abrir {
    color: var(--cor6);
    font-size: 30px;
    position: fixed;
    padding: 5px ;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.134);
    border-radius: 5px;
    transition: 0.5s;
}

.abrir:hover {
    transform: scale(1.05);
}

.fechar {
    width: 100%;
    padding: 20px 0 10px;
    font-size: 30px;
    border: 0;
    color: blue;
    cursor: pointer;
    background-color: var(--cor7);
}

#menu {
    height: 0;
    width: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 189), blue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
    border: solid 1px var(--cor7);
}
#menu a {
    color: var(--cor7);
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}
nav div {
    background-color: var(--cor7);
    text-align: center;
}
nav img {
    width: 100px;
}
nav#menu > a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
   
}
#menu a:hover {
    color: blue;
    background-color: var(--cor7);
}
a {
    font-family: sans-serif;
    text-decoration: none;
    transition-duration: 0.5s;
}
/* FIM MENU */

/* SEÇÃO DO INSTAGRAM */
.boxRS {
    width: 100%;
}

.box {
    background-color: var(--cor5);
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    color: var(--cor7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.462);
}

.box p {
    font-size: 12px;
    font-style: italic;
}

.box img {
    width: 30%; 
    margin: 10px 0;
    transition: 0.7s;
}

.box img:hover {
    transform: scale(1.08);
    animation: rotate 1.6s;
}

.zap {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 4;
}

.zap img {
    width: 100%;
    transition: 0.5s;
}

.zap img:hover {
    transform: scale(1.09);
    animation: rotate 0.5s;
}

/* FIM SEÇÃO INSTAGRAM */

/* INICIO FOOTER */
section > span {
    display: flex;
    
}
span {
    display: flex;
    width: 200px;
    margin: auto;
    gap: 2px;
    margin-top: 7px;
}
footer {
    color: var(--cor7);
    background-color: var(--cor4);
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    margin-top: 100px;
}
footer p {
    padding: 10px;
    color: rgba(255, 255, 255, 0.712);
}
.strong {
    color: var(--cor7);
}
.criador {
    background-image: linear-gradient(95deg, var(--cor2), var(--cor3));
    padding: 5px ;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 10px;
}
.criador a {
    color: var(--cor7);
}
.criador:hover {
    transform: scale(1.05);
}

.box-tabela-creditos {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.creditos {
    text-align: left;
    flex: 1;
    max-width: 350px;
    padding: 10px;
}

.creditos a {
    text-decoration: none;
    color: var(--cor7);
    text-decoration: underline;
    line-height: 20px;
    font-size: 12px;
}

.creditos h1 {
    font-size: 20px;
}

#conteiner {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.514);
    border-collapse: collapse;
    max-width: 500px;
    margin: auto;
    flex: 1;
}
th, td {
   
    padding: 6px;
    width: 180px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
tr:hover {
    color: var(--cor7);
    transition-duration: 0.5s;
}
.tr1 {
    color: var(--cor7);
}
/* FIM FOOTER */

/* INICIO SCROLLS */

.scrollLeft {
   animation: lll 1.5s;
}

.scrollRight {
    animation: rrr 1.5s;
}

.scrollTop {
    animation: ttt 1.5s ;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes lll {
    from {
        translate:-10vw 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes rrr {
    from {
        translate: 10vh 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes ttt {
    from {
        translate: 0 -10vh;
    }
    to {
        translate: 0 0;
    }
}

/* FIM SCROLLS  */


/* RESPONSIVIDADE */
@media (max-width: 1000px) {

    .sec1-div1 img, .sec2-div2 img {
        opacity: 1;
    }

    .sec1, .sec2 {
        display: flex;
        flex-direction: column;
    }

    .sec3-div1, .sec3-div2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divs-sec3 {
        width: 70%;
    }

    .zap {
        width: 60px;
    }

    .box-aside {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 800px) {
    .box-tabela-creditos {
        flex-direction: column;
    }

    .creditos {
        margin-top: 50px;
        margin-left: 10%;
    }
}

@media(max-width: 500px) {
    #texto-header h1 {
        font-size: 20px;
    }

    #texto-header p {
        font-size: 12px;
    }

    #logo-header img {
        height: 70%;
    }

    .alert-zap div {
        width: 80%;
    }

    .alert-zap p {
        font-size: 14px;
    }

    .box-tabela-creditos {
        align-items: center;
        margin: 50px auto;
    }
    td {
        font-size: 10px;
    }

}

@media (max-height: 450px) {
    #menu a {
        font-size: 16px;
    }

    .fechar {
        font-size: 16px;
    }

    #menu img {
        width: 50px;
    }

}

@media (max-height: 310px) {
    #menu img {
        display: none;
    }

    #menu a {
        font-size: 12px;
    }

    .fechar {
        font-size: 12px;
        padding: 5px;
    }
}

/* FIM RESPONSIVIDADE */